h1 {
    color: black;
    background-color: antiquewhite;
    text-align: center;
}


.starting-image {
    /* RFER #1 */

    display: grid;
    place-items: center;

}

h2 {
    background-color:beige;
    font-weight: bold;
    text-align: center;
}

p.work-in-progress {
    color: black;
    font-weight: bolder;
    text-align: center;
}