body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    background-color:antiquewhite;
}

h2 {
    text-align: center;
}

.welcome-cat {
    height: 200px;
    width: 300px;
    display: grid;
    object-fit: contain;
    place-items: center;
}